@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --palette-background: #1f1634;
  --palette-background-overlay: #24193edb;
  --palatte-text: #ffffff;
  /* --palette-accent1: #ff55b3;
  --palette-accent2: #1df47f;
  --palette-accent3: #f8dc00;
  --palette-accent4: #19e9fe;
  --palette-accent5: #a577fe; */

  --sizing-padding: 16px;
  --sizing-radius: 32px;
  
  font-family: sans-serif;
}
