@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
  scrollbar-color: theme(colors.accent.purple) transparent;
}

/* Code block highlighting */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  background: theme(colors.purple.950 / 50%);
  color: theme(colors.purple.100);
  font-weight: normal;
}
.hljs-subst {
  color: theme(colors.accent.purple);
}
.hljs-title {
  color: theme(colors.accent.yellow);
  font-weight: normal;
}
.hljs-name {
  color: theme(colors.purple.100);
}
.hljs-tag {
  color: theme(colors.purple.100);
}
.hljs-attr {
  color: theme(colors.accent.yellow);
  font-style: italic;
}
.hljs-built_in,
.hljs-selector-tag,
.hljs-section {
  color: theme(colors.accent.yellow);
}
.hljs-keyword {
  color: theme(colors.accent.purple);
}
.hljs-string,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-code,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-quote,
.hljs-deletion {
  color: theme(colors.accent.green);
}
.hljs-meta,
.hljs-meta .hljs-string {
  color: theme(colors.accent.yellow);
}
.hljs-comment {
  color: theme(colors.gray.300);
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name,
.hljs-strong {
  font-weight: normal;
}
.hljs-literal,
.hljs-number {
  color: theme(colors.accent.pink);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
